/* card.css */

.card_container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.card {
  width: 400px;
  height: 300px; /* Set initial height */
  margin: 0 20px; /* Increased margin for space between cards */
  overflow: hidden; /* Hide overflow content */
  background-color: #333; /* Darker background color */
  border-radius: 15px; /* Rounded corners */
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
  height: auto; /* Ensure image maintains aspect ratio */
  border-radius: 15px 15px 0 0; /* Rounded corners on top */
}

.card-content {
  padding: 10px 15px;
  color: #ddd; /* Lighter text color */
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease; /* Transition for opacity change */
}
